body {
    width: 100%;
}

a.reg-new-user {
	margin-top: 7px;
}

div[class*="col-md-"] > div[class*="col-md-"]{
	padding-left: 0px;
}

.alert {
	margin-top: 25px;
	padding: 5px;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 150px; 
}

div.has-feedback span.form-control-feedback {
	padding-right: 20px;
}