<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:fragment="title">Register</title>
    <link href="../static/css/jquery.reject.css" th:href="@{/css/jquery.reject.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container" th:fragment="content">
    <div class="col-sm-6 col-md-5 col-md-offset-3">
        <div class="thumbnail col-md-12">

            <div th:if="${error}" class="col-md-offset-1 col-md-10 alert alert-danger" role="alert">
                <p style="text-align: center;">invalid old or new password.</p>
            </div>
            <form th:object="${subject}" method="POST" onsubmit="return loginOnSubmit(this)">
                <div class="col-md-12">
                    <h3>Edit password</h3>
                </div>
                <div class="form-group has-feedback col-md-12">
                    <label for="oldPassword">Old password</label>
                    <input class="form-control" type="password" id="oldPassword" name="oldPassword"/>
                </div>
                <div class="form-group has-feedback col-md-12">
                    <label for="newPassword">New paswword</label>
                    <input class="form-control" type="password" id="newPassword" name="newPassword"/>
                </div>
                <p class="col-md-12">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <button id="click" class="btn" type="submit">Ok</button>
                </p>
            </form>
        </div>
    </div>
</div>
<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<div th:fragment="script">
    <script th:inline="javascript">
            function loginOnSubmit(aForm) {
                //Getting the two input objects
                var inputOldPassword = aForm['oldPassword'];
                var inputNewPassword = aForm['newPassword'];

                var login = [[${login}]].toLowerCase();

                //Hashing the values before submitting
                inputOldPassword.value = $.sha256(login + inputOldPassword.value.toLowerCase());
                inputNewPassword.value = $.sha256(login + inputNewPassword.value.toLowerCase());

                //Submitting
                return true;
            }

        </script>
</div>
</body>
</html>