<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
	<head>
		<meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title th:fragment="title">Register</title>
		<link href="../static/css/jquery.reject.css" th:href="@{/css/jquery.reject.css}" rel="stylesheet"/>
		<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"  rel="stylesheet"/>
		<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
	</head>
	<body>
		<div class="container" th:fragment="content">
			<div class="col-sm-6 col-md-5 col-md-offset-3">
                <div class="thumbnail col-md-12">
					<form  th:object="${subject}" method="POST">
						<div class="col-md-12">
						  <h3>Edit profile</h3>
						</div>
						<div class="form-group has-feedback col-md-12">
							<label for="firstname">First name</label>
							<input class="form-control" type="text" id="firstname" name="firstname" th:field="*{firstName}" />
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display: none;"></span>
						</div>
						<div class="form-group has-feedback col-md-12">
							<label for="secondname">Second name</label>
							<input class="form-control" type="text" id="secondname" name="secondname" th:field="*{secondName}" />
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display: none;"></span>
						</div>
						<div class="form-group has-feedback col-md-12">
							<label for="surname">Surname</label>
							<input class="form-control" type="text" id="surname" name="surname" th:field="*{surname}" />
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display: none;"></span>
						</div>
                        <p class="col-md-12">
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                            <button id="register" class="btn" type="submit">OK</button>
                            <a th:href="@{'/profile/'+*{extCode}}" class="btn">Back</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>