<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:fragment="page">
    <head>
        <title th:include="this :: title"/>
        <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
        <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="container" th:include="this :: content" />

        <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
        <script src="../static/js/jquery.sha256.js" th:src="@{/js/jquery.sha256.js}"></script>
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <!--<script th:include="this :: script" />-->
        <div th:include="this :: script"></div>
    </body>
</html>