<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title th:fragment="title">Login</title>
        <link href="../static/css/jquery.reject.css" th:href="@{/css/jquery.reject.css}" rel="stylesheet"/>
        <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"  rel="stylesheet"/>
		<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="container" th:fragment="content">
            <div class="col-sm-6 col-md-4 col-md-offset-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Authorization</h3>
                        <form action="login" method="POST" onsubmit="return loginOnSubmit(this)">
                            <p th:if="${param.error != null}">
                                Invalid username and password.
                            </p>
                            <p th:if="${param.logout != null}">
                                You have been logged out.
                            </p>
							<div class="form-group">
								<label for="username">Login</label>
								<input class="form-control" type="text" id="username" name="username" />
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input class="form-control" type="password" id="password" name="password"/>
							</div>
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                            <button type="submit" class="btn">Log in</button>
                            <a class="pull-right reg-new-user" href="/register">Register new user</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
        <script src="../static/js/jquery.sha256.js" th:src="@{/js/jquery.sha256.js}"></script>
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <div th:fragment="script">
            <script th:fragment="loginOnSubmit">
                function loginOnSubmit(aForm) {
                    //Getting the two input objects
                    var inputUsername = aForm['username'];
                    var inputPassword = aForm['password'];

                    //Hashing the values before submitting
                    inputUsername.value = inputUsername.value.toLowerCase();
                    inputPassword.value = $.sha256(inputUsername.value + inputPassword.value.toLowerCase());

                    //Submitting
                    return true;
                }
            </script>
        </div>
    </body>
</html>