<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
	<head>
		<meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Subject profile</title>
		<link href="../static/css/jquery.reject.css" th:href="@{/css/jquery.reject.css}" rel="stylesheet"/>
		<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"  rel="stylesheet"/>
		<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
	</head>
	<body>
		<div class="container" th:fragment="content">
			<div class="col-sm-6 col-md-4 col-md-offset-3">
				<div class="thumbnail">
					<h3 th:text="${subject.login}">Subject login</h3>
                    <p>First name: <span th:text="${subject.firstName}">F</span></p>
                    <p>Second name: <span th:text="${subject.secondName}">S</span></p>
                    <p>Surname: <span th:text="${subject.surname}">S</span></p>
                    <h4>Roles:</h4>
					<p th:each="role : ${subject.roles}">
						<div th:text="${role.name}"></div>
					</p>
					<a class="btn btn-danger" href="/logout">Logout</a>
                    <a class="btn btn-danger" href="/profile/edit">Edit profile</a>
                    <a class="btn btn-danger" href="/profile/editpassword">Edit password</a>
				</div>
			</div>
		</div>
		
	</body>
</html>