<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
	<head lang="en">
		<meta charset="UTF-8" />
		<title>Profile authentification error</title>
		<link href="../static/css/jquery.reject.css" th:href="@{/css/jquery.reject.css}" rel="stylesheet"/>
		<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"  rel="stylesheet"/>
		<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
	</head>
	<body>
		<div class="container" th:fragment="content">
			<div class="alert alert-danger alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <strong style="text-align: center;">Profile authentification error!</strong>
			</div>
			<h3>Profile authentification error!</h3>
		</div>		
	</body>
</html>