<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
	<head>
		<meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title th:fragment="title">Register</title>
		<link href="../static/css/jquery.reject.css" th:href="@{/css/jquery.reject.css}" rel="stylesheet"/>
		<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
		<link href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"  rel="stylesheet"/>
		<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
	</head>
	<body>
		<div class="container" th:fragment="content">
			<div class="col-sm-6 col-md-5 col-md-offset-3">
                <div class="thumbnail col-md-12">
					<form action="/register/save" th:object="${subject}" method="POST" onsubmit="return regOnSubmit(this)">
						<div class="col-md-12">
						  <h3>New subject</h3>
						</div>
						<div class="form-group has-feedback col-md-12">
							<label for="email">E-mail</label>
							<input class="form-control" type="text" id="email" name="email" th:field="*{login}" data-toggle="tooltip" data-placement="right" title="Email already exist!" data-trigger="manual"/>
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display: none;"></span>
						</div>
						<div class="form-group has-feedback col-md-12">
							<label for="password">Password</label>
							<input class="form-control" type="password" id="password" name="password" th:field="*{password}" data-toggle="tooltip" data-placement="right" title="Insecure password!" data-trigger="manual"/>
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display: none;"></span>
						</div>
						<div class="form-group has-feedback col-md-12">
							<label for="retype-password">Retype password</label>
							<input class="form-control" type="password" id="retype-password" name="retypePassword" data-toggle="tooltip" data-placement="right" title="Password mismatch!"  data-trigger="manual"/>
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display: none;"></span>
						</div>
						<div class="form-group has-feedback col-md-12">
							<label for="firstname">First name</label>
							<input class="form-control" type="text" id="firstname" name="firstname" th:field="*{firstName}" />
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display: none;"></span>
						</div>
						<div class="form-group has-feedback col-md-12">
							<label for="secondname">Second name</label>
							<input class="form-control" type="text" id="secondname" name="secondname" th:field="*{secondName}" />
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display: none;"></span>
						</div>
						<div class="form-group has-feedback col-md-12">
							<label for="surname">Surname</label>
							<input class="form-control" type="text" id="surname" name="surname" th:field="*{surname}" />
							<span class="glyphicon glyphicon-ok form-control-feedback" style="display: none;"></span>
						</div>
                        <p class="col-md-12">
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                            <button id="register" class="btn" type="submit">Register</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
	<script src="../static/js/jquery.sha256.js" th:src="@{/js/jquery.sha256.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <div th:fragment="script">
        <script th:include="login :: loginOnSubmit"/>
        <script src="../static/js/register.js" th:src="@{/js/register.js}"></script>
    </div>
</body>
</html>