<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Confirm e-mail</title>
</head>
<body>
    <div class="container" th:fragment="content">
        <div class="col-sm-6 col-md-5 col-md-offset-2">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Account <span th:text="${subject.login}">acc@acc.com</span> was successfully created!</h4>
                    <p>
                        Letter with confirm code send to your email.
                    </p>
                    <p>
                        Or enter confirm code.
                    </p>

                    <div th:if="${errorConfirm == true}" class="alert alert-danger" role="alert">
                        <strong>Error!</strong> Invalid Confirm code!
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="confirmCode">Confirm code</label>
                            <input class="form-control" type="text" id="confirmCode" name="confirmCode" />
                        </div>
                        <button id="send" type="submit" class="btn">Send</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</body>
</html>